header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  gap: 50px;
  background-color: var(--raisin-black);
}

#logo {
  width: 200px;
  height: auto;
}

#opener {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

#subtitle {
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}
