header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  gap: 60px;
  background-color: black;
}

#logo {
  width: 200px;
  height: auto;
}

#opener {
  width: 100%;
  height: auto;
  object-fit: cover;
  filter: grayscale(100%);

}

#subtitle {
  color: white;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}