@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Kabel";
  src: url("/fonts/Kabel.woff") format("truetype");
}

:root {
  --saffron: #e6c229;
  --pumpkin: #f17105;
  --cardinal: #d11149;
  --electric-indigo: #6610f2;
  --tufts-blue: #1a8fe3;
  --spacing: 20px;
  --small-spacing: 10px;
  --font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: var(--font);
}

body::-webkit-scrollbar {
  width: var(--small-spacing);
  background-color: white;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--electric-indigo);
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--electric-indigo);
}

h1,
h2,
h3,
strong,
#rankingPosition {
  font-family: "Kabel", sans-serif;
}

h1 {
  width: 100%;
  font-size: 3.5em;
  padding: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 4px;
  color: var(--cardinal);
  text-align: center;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
  text-shadow: var(--saffron) 2px 2px 0px, var(--cardinal) 4px 4px 0px;
}

h2 {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1.5px;
}

strong {
  text-transform: uppercase;
}

select {
  width: 150px;
  height: 40px;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-family: inherit;
  border: 5px ridge var(--electric-indigo);
  color: white;
  text-align: center;
}
