.card {
  min-width: 300px;
  max-width: 600px;
  color: black;
  border-radius: 12px;
  transition: 0.5s;
  border-radius: 10px;
  background-color: white;
  box-shadow: black 0px 0px 0px 5px inset, var(--pumpkin) -10px 10px inset,
    black 10px 10px inset, black -10px -10px inset,
    var(--electric-indigo) 15px -15px inset;
}

#rankingPosition {
  background-color: var(--pumpkin);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 6px double var(--electric-indigo);
  color: white;
  font-size: 3.5em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.skim {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card.peruse {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.card.card.deep-dive {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}

.profile {
  width: 100%;
  height: auto;
  border: 10px double var(--electric-indigo);
  background-color: var(--pumpkin);
}

.profile > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  background: url("https://i.pinimg.com/736x/9b/2e/c5/9b2ec57792ddb57903021d20e16b99c9.jpg");
}

.stats {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.stats-one {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 5px double black;
}

.stats-two {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-left: 5px double black;
}

.description {
  text-align: justify;
}

.skill {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  border: 5px double var(--pumpkin);
  background-color: var(--saffron);
}

.skill h3 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills,
.awards {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.skill-image,
.award-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.card.skim:hover,
.card.peruse:hover,
.card.deep-dive:hover {
  background-color: black;
  color: white;
}
