.card {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 12px;
  transition: 0.5s;
  border-radius: 10px;
  background-color: var(--electric-indigo);
  box-shadow: black 0px 0px 0px 5px inset,var(--pumpkin) -10px 10px inset, black 10px 10px inset, black -10px -10px inset, white 15px -15px inset;
}

#rankingPosition {
  background-color: var(--pumpkin);
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 2px solid black;
  color: white;
  font-size: 3.5em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card.skim {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card.peruse {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card.card.deep-dive {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.profile {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

.profile > img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background: url("https://i.pinimg.com/736x/9b/2e/c5/9b2ec57792ddb57903021d20e16b99c9.jpg");
  border-bottom: 2px solid black;
}

.stats {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 10px;
}

.card.skim:hover,
.card.peruse:hover,
.card.deep-dive:hover {
  background-color: black;
  color: white;
}
