.card {
  width: 100%;
  color: black;
  padding: 10px;
  border-radius: 12px;
  transition: 0.5s;
  background: rgba(102, 16, 242, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#rankingPosition {
  color: white;
  font-size: 3em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--tufts-blue);
}

.card.skim {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card.peruse {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.card.card.deep-dive {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.profile {
  background-color: aliceblue;
  border: 2px solid black;
}

.profile > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 2px solid black;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card.skim:hover,
.card.peruse:hover,
.card.deep-dive:hover {
  background-color: var(--electric-indigo);
}
