main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: var(--cardinal);
  border-top: 2px solid white;
}

#hero {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#hero-image {
  min-width: 400px;
  width: 60%;
  height: auto;
  object-fit: cover;
}

#hero-description {
  color: white;
  text-align: justify;
}

#artists {
  width: 100%;
  height: auto;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
}
